:root {
    --dark-blue: rgb(25, 29, 50);
    --white: rgb(252, 239, 249);
    --blue: rgb(33, 118, 255);
    --red: rgb(232, 72, 85);
    --yellow: rgb(255, 253, 130);
    --black: #111;

}

body {
    background-color: var(--black);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

h2 {
    z-index: 1;
    margin-left: 30px;
    width: 100%;
    margin: 20px 20px;
}

#backgrond {
    position: fixed;
    top: -450px;
    left: 0px;
    width: 100%;
    background: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 0;
}

.icon_row {
    position: relative;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 50px;
}

.animation_1 {
    transform: rotate(-30deg) translateX(-7%);
    animation: animate1 120s linear infinite;
}

@keyframes animate1 {
    0% {
        transform: rotate(-30deg) translateX(-7%);
    }

    50% {
        transform: rotate(-30deg) translateX(-180%);
    }

    100% {
        transform: rotate(-30deg) translateX(-7%);
    }
}

.animation_2 {
    transform: rotate(-30deg) translateX(-7%);
    animation: animate2 100s linear infinite;
    /* animation-delay: 20s; */
}

@keyframes animate2 {
    0% {
        transform: rotate(-30deg) translateX(-7%);
    }

    50% {
        transform: rotate(-30deg) translateX(-180%);
    }

    100% {
        transform: rotate(-30deg) translateX(-7%);
    }
}

.animation_3 {
    transform: rotate(-30deg) translateX(-180%);
    animation: animate3 100s linear infinite;
    /* animation-delay: 20s; */
}

@keyframes animate3 {
    0% {
        transform: rotate(-30deg) translateX(-180%);
    }

    50% {
        transform: rotate(-30deg) translateX(-7%);
    }

    100% {
        transform: rotate(-30deg) translateX(-180%);
    }
}

.animation_4 {
    transform: rotate(-30deg) translateX(-180%);
    animation: animate4 120s linear infinite;
    /* animation-delay: 20s; */
}

@keyframes animate4 {
    0% {
        transform: rotate(-30deg) translateX(-180%);
    }

    50% {
        transform: rotate(-30deg) translateX(-7%);
    }

    100% {
        transform: rotate(-30deg) translateX(-180%);
    }
}

.icon_row i {
    color: rgb(69, 68, 68);
    margin: 0;
    padding: 0 5px;
    transition: 1s;
}

.icon_row i:hover {
    transition: 0s;
    color: var(--white);
    text-shadow: 20px 20px 120px var(--white);
}

#navbar {
    background-color: var(--black);
}

#about_back {
    display: flex;
    justify-content: space-around;
    z-index: -1;
    align-items: center;
    min-height: calc(100vh - 72px);
    color: var(--white);
}

#about_front_1 {
    z-index: 1;
    width: 40%;
}

#about_front_1 span {
    color: var(--yellow);
}

#social_links {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

#social_links i {
    font-size: 30px;
    padding: 5px;
    border: 2px solid var(--yellow);
    border-radius: 50%;
}

#about_front_2 {
    z-index: 2;
}

#profile_image,
#profile_gif {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-top: 5px solid var(--yellow);
    border-bottom: 5px solid var(--yellow);
    border-left: 5px solid var(--red);
    border-right: 5px solid var(--red);
    box-shadow: 0 0 50px var(--white);
}

#profile_gif {
    display: none;
}

#about_front_2:hover #profile_image {
    display: none;
}

#about_front_2:hover #profile_gif {
    display: block;
}

#back_side {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: -1;
    color: var(--yellow);
}

#education_front {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 30px auto;
    position: relative;
    z-index: 1;
}

#education_front ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#education_front ul li {
    padding: 20px;
    background-color: var(--dark-blue);
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    /* margin-top: 50px; */
}

#education_front ul li:last-child {
    margin-bottom: 0;
}

.timeline-content h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
    color: var(--blue);
}

.timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}

.timeline-content .date {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color: var(--yellow);
}

#carouselExampleIndicators {
    width: 75%;
}

#experience_item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    color: var(--white);
    background-color: var(--dark-blue);
    margin: 10px 0;
}

#experience_item_left {
    width: 50%;
    /* text-align: center; */
    padding: 20px;
}

#experience_item_left h3 {
    color: var(--red);
}

#experience_item_right {
    width: 50%;
    padding: 20px;
}

#experience_item_right h4 {
    color: var(--blue);
}

#contact_back h2 {
    z-index: 1;
    margin-left: 30px;
    width: 100%;
    margin: 20px 20px;
}

@media only screen and (max-width: 800px) {
    #about_back {
        flex-direction: column;
        text-align: center;
    }

    #about_front_1 {
        width: 90%;
    }

    #social_links {
        margin-left: auto;
        margin-right: auto;
    }

    #experience_item_left,
    #experience_item_right {
        width: 100%;
    }

    #carouselExampleIndicators {
        width: 90%;

    }
}

@media only screen and (min-width: 768px) {
    #education_front::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 100%;
        background-color: var(--yellow);
    }

    #education_front ul li {
        width: 50%;
        position: relative;
        margin-bottom: 50px;
    }

    #education_front ul li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translateX(-2px);
        border-radius: 20px 0px 20px 20px;
    }

    #education_front ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(2px);
        border-radius: 0px 20px 20px 20px;
    }

    #education_front ul li::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: gray;
        top: 0px;
    }

    #education_front ul li:nth-child(odd)::before {
        transform: translate(50%, -50%);
        right: -30px;
    }

    #education_front ul li:nth-child(even)::before {
        transform: translate(-50%, -50%);
        left: -30px;
    }

    .timeline-content .date {
        position: absolute;
        top: -30px;
    }

    #education_front ul li:hover::before {
        background-color: var(--red);
    }
}

.contact_page {
    display: flex;
    flex-direction: column;
    /* min-height: calc(100vh - 72px - (1.325rem + .9vw)); */
    justify-content: center;
    padding: auto;
    align-items: center;
    align-content: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.project_page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid rgb(239, 5, 5);
    justify-content: space-evenly;
}

.card_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}