:root {
    --black: rgb(25, 29, 50);
    --white: rgb(252, 239, 249);
    --blue: rgb(33, 118, 255);
    --red: rgb(232, 72, 85);
    --yellow: rgb(255, 253, 130);
}

body {
    background-color: rgb(25, 29, 50);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#backgrond {
    position: fixed;
    top: -450px;
    left: 0px;
    width: 100%;
    background: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 0;
}

.row1 {
    position: relative;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 50px;
    transform: rotate(-30deg) translateX(-8%);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(-30deg) translateX(-8%);
    }

    50% {
        transform: rotate(-30deg) translateX(-35%);
    }

    100% {
        transform: rotate(-30deg) translateX(-8%);
    }
}

i {
    color: rgb(69, 68, 68);
    margin: 0;
    padding: 0 5px;
    transition: 1s;
}

i:hover {
    transition: 0s;
    color: var(--white);
    text-shadow: 20px 20px 120px rgb(37, 4, 250);
}

#navbar {
    background-color: rgb(25, 29, 50);
}

#about {
    text-align: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

#sahil {
    width: max-content;
    z-index: 1;
    margin-bottom: 0;
}

.contact_page {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 72px - (1.325rem + .9vw + 20px));
    border: 2px solid rgb(239, 5, 5);
    justify-content: center;
    align-items: center;
    align-content: center;
}

.project_page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid rgb(239, 5, 5);
    justify-content: space-evenly;
}

.card_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}